extends layout

block content
  .row
    .col-sm-6
     #cal
      .header
        span#prev.left.button 〈 
        span.left.hook  
        span#label.month-year  April 20&0 
        span.right.hook  
        span#next.right.button 〉 
      table#days
        td sun
        td mon
        td tue
        td wed
        td thu
        td fri
        td sat
      #cal-frame
        table.curr
          tbody
            tr
              td.nil
              td.nil
              td 1
              td 2
              td 3
              td 4
              td 5
            tr
              td 6
              td.today 7
              td 8
              td 9
              td 10
              td 11
              td 12
            tr
              td 13
              td 14
              td 15
              td 16
              td 17
              td 18
              td 19
            tr
              td 20
              td 21
              td 22
              td 23
              td 24
              td 25
              td 26
            tr
              td 27
              td 28
              td 29
              td 30
              td.nil
              td.nil
              td.nil
    .col-sm-6.tooling
      h2 toolUp
      p A simple tool to get your life in order
      p
        a.btn.btn-default(href='http://jakep84.github.io/jp404/', role='button') Learn More »