extends layout

block content

    title Magic_word.app
    .row
      .majorMagic
        .fatBoy.col-xs-6.col-sm-6.col-md-6.col-lg-6
          img(src='fatBoy.gif')
        .fatBoyText.col-xs-6.col-sm-6.col-md-6.col-lg-6
          h1 404
          h3 Page Not Found
          p
            a.errorButton.btn.btn-default(href='#', role='/') Go to the main page »
